.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
  }

  h1 {
    font-size: 5vw;
  }
  
  .section {
    position: relative;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  
  .static {
    background: lightblue;
  }
  
  .bg1::after {
    background-image: url(resources/skidor.jpg);
    background-position: 0 -950px;
  }
  
  .bg2::after {
    background-image: url(resources/berg.jpg);
    background-position: 0 -100px;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
    text-decoration: none;
    text-align: center;
  }